<!DOCTYPE html >
<html ng-app="TTSApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pjTextToSpeech - AngularJS Text-to-Speech module</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <style>
        .glyphicon-refresh{
            animation: spin .7s infinite linear;
            -animation: spin .7s infinite linear;
            -webkit-animation: spin2 .7s infinite linear;
        }

        @-webkit-keyframes spin2 {
            from {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }
        .alert{padding: 5px 20px; margin-top: 5px;}
    </style>
</head>
<body ng-controller="TTSCtrl as ctrl">
<a class="fork-badge" href="https://github.com/peterjurkovic/pjTextTospeech">
    <img data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"
         src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" style="position: fixed; top: 0; left: 0; border: 0;">
</a>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Angular Text-2-speech module</h3>
                <p>Angular directive and service Text-to-speech</p>

                <h3>Demo</h3>

                <div class="row">
                    <form name="ttsForm" >
                        <div class="col-md-6">
                            <input class="form-control"
                                   type="text"
                                   ng-model="tts.text"
                                   min-length="3"
                                   maxlength="100"
                                   required
                                   name="val"  />
                            <p class="alert alert-danger" ng-if="ttsForm.val.$invalid">
                                <span>Type at least 3 characters</span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <select
                                    ng-options="lang.code as lang.name for lang in langList"
                                    class="form-control"
                                    ng-model="tts.lang" >
                            </select>
                        </div>
                        <div class="col-md-2">
                            <tts tts-text="{{tts.text}}" tts-lang="{{tts.lang}}"></tts>
                        </div>
                    </form>
                </div>
                <br />
                <p>This particular implementation depends on a back-end side script which forwards requests to Google TTS API. The advantage of this solution is that generated files are cached in a predefined folder and Google API is requested only once.</p>
                <header>
                <ul>
                    <li><a href="https://github.com/peterjurkovic/pjTextToSpeech/releases">Download <strong>ZIP File</strong></a></li>
                    <li><a href="https://github.com/peterjurkovic/pjTextToSpeech/releases">Download <strong>TAR Ball</strong></a></li>
                    <li><a href="https://github.com/peterjurkovic/pjTextToSpeech">View On <strong>GitHub</strong></a></li>
                </ul>
                </header>
                <footer>
                    <p>This project is maintained by <a href="http://peterjurkovic.com">Peter Jurkovic</a></p>
                    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/peterjurkovic">peterjurkovic</a></small></p>
                </footer>

            </div>
            <div class="col-md-6">
                <h3>pjTextTospeech</h3>
                <p>pjTextTospeech a simple Text-2-speech AngularJS module, based on Google Text-to-speech API.</p>
                <h3>Instalation</h3>
                <p>Download pjTextTospeech manually or install with bower:</p>
                <pre><code>bower install pjTextTospeech --save</code></pre>

                <h3>Integration </h3>
                <p>Include pjTextTospeech resource file with the <a target="_blank" href="http://getbootstrap.com/">Bootstrap CSS</a>
                    (it is not required but styling is based on bootstrap classes).:</p>
                <pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;bootstrap.min.css&quot;&gt;
&lt;script src=&quot;pjTextTospeech.min.js&quot;&gt;&lt;/script&gt;</code>
 </pre>

                <p>Include pjTextTospeech as a dependency in your app module:</p>
                <pre>

<code>var app = angular.module('TTSApp', ['pjTts']);</code>
                </pre>

                <p>Place tts element into your HTML:</p>
                <pre>
                    <code>
&lt;body&gt;
&lt;tts tts-text=&quot;Hello world&quot; tts-lang=&quot;en&quot; &gt;&lt;/tts&gt;
...
&lt;/body&gt;
</code>
                 </pre>
                <p>Inject TTSConfig  in your controller and setup back-end url for calling generated audio files:</p>
                <pre><code>
app.controller('YourController', function( TTSConfig){
    TTSConfig.url = 'http://tts.dev/tts-backend/index.php';
}
                </code></pre>
                <p>See the <a href="https://github.com/peterjurkovic/pjTextToSpeech/tree/master/tts-backend">back-end</a> integration example.</p>

                <h3>Usage without directive</h3>
                <p>The module does not require <strong>tts</strong> directive. The other usage is injecting
                    <strong>TTSAudio</strong> object in e.g (Controller, Service) and calling API directly.</p>

                <pre><code>
app.controller('YourController',
    function($scope, $log, TTSConfig, TTSAudio, TTS_EVENTS){

    TTSConfig.url = 'http://tts.dev/tts-backend/index.php';
    var tts = new TTSAudio();
    tts.speak({
        text : 'Hello word',
        lang : 'en'
        // you can add additional params which will send to server
    });

    // triggered after speaking
    $scope.$on(TTS_EVENTS.PENDING, function(){
        $log.info('Successfully done!')
    });

    // triggered in case error
    $scope.$on(TTS_EVENTS.ERROR, function(){
        $log.info('An unexpected error has occurred');
    });

    // before loading and speaking
    $scope.$on(TTS_EVENTS.PENDING, function(text){
        $log.info('Speaking: ' + text);
    });
}
                </code></pre>

                <h3>Animated bootstrap button</h3>
                The bootstrap buttons are static by default. If you want to achieve the effect as in this demo page you have to add the following CSS into your page.
                <pre><code>
.glyphicon-refresh{
    animation: spin .7s infinite linear;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
                </code></pre>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="pjTextTospeech.min.js"></script>
<!--
<script src="src/js/module.js"></script>
<script src="src/js/directives.js"></script>
<script src="src/js/services.js"></script>
 -->

<script src="app.js"></script>
</div>
</body>
</html>
